@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 100;
  overflow-x: hidden;
}

html{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body{
  background: rgb(5,8,27);
  background: linear-gradient(165deg, rgba(5,8,27,1) 0%, rgba(8,12,44,1) 24%, rgba(10,15,55,1) 39%, rgba(15,22,81,1) 100%);
  background-repeat: no-repeat;
  color:white;
  width: 100vw;
  height:100%;
  z-index: 100;
} 

.navigation{
  width: 90%;
  margin: auto;
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  z-index: 100;
  h5{
    margin: 0 15px 0 15px;
    line-height: 27px;
    font-size: 22px;
    font-weight: 700;
  }
  ul{
    display: flex;
    margin: 0 15px;
    li{
      color: #3d4053;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 15px;
      a{
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: #a0a1a3;
      }
      .active{
        color: white;
      }
      }
    }
  }

.cards{
  width: 95%;
  margin: auto;
  // background-color: rgb(121, 30, 30);
  display: flex;
  flex-direction: column;
  max-height: 1440px;
  font-size: 22px;
  justify-content: center;
  z-index: 100;
  .input-container{
    overflow: visible ;
    input{
      font-size: 16px;
      font-weight: 400;
      height: auto;
      // padding: 23px 100px;
      // margin: 30px 20px 0 0;
      padding: 23px 100px;
      // margin: 30px 20px 0 0;
      margin: 0px 25px 0 0;
      background-color: transparent;
      border: 1px solid #2f3550;
      border-radius: 15px;
    }
    input::placeholder{
      color: #d1e1ff;
      position: relative;
      left: -50px;
      // background: url("/searchicon.png") no-repeat scroll 00px 0px;



    }
    width: 100%;
    display: flex;
    height: 45px;
    margin: 5px;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .cards-container{
    z-index: 100;
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 340px 340px;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    font-size: 20px;
    
    // width:100%;
    // max-width:705px;
    // min-width:320px;

    height:105vh;

    
      }
  .card-pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .pagination-buttons{
      border-radius: 10px;
      border: 1px solid #1d2249;
      background-color: #191c3c ;
      font-size: 14px;
      padding: 0 10px;
      line-height: 21px;
      font-weight: 400;
      button{
        margin: 5px 3px;
        padding: 15px 0;
        cursor: pointer;
        background: transparent;
        border-radius: 10px;
        min-width: 50px;
        border: none;
        color: white;
        transition: 250ms;
        &:hover{
          background-color: #685dd8;
        }
        &:first-child{
          padding: 15px 20px;
        }
        &:nth-child(5){
          padding: 15px 20px;
        }
        &:nth-child(2){
          background-color: #685dd8;
        }
        }
      }

    }
  }      


  @media (max-width: 1000px) {
    .cards-container{
      display: grid;
      grid-template-columns: 45vw 45vw;
      grid-template-rows: 380px 380px; 
    }
  }
  
  @media (max-width: 768px){
    .cards-container{
      grid-template-columns: 50%;
      grid-template-rows: 400px
    }
  }
    