.stakeUnstake-btns{
    display: flex;
    justify-content: center;
    margin: 25px 0 50px 0;
    button{
        background-color: transparent;
        border: none;
        color: #ccdcfa;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 18px;
        line-height: 42px;
        font-weight: 600;
        font-family: sans-serif;
        padding: 0 75px ;
        transition: all 250ms;
        &:focus{
            color: white;
            border-bottom: 1px solid white;
        }
        &:hover{
            color: #685dd8;
        }

    }
}

.staking-container{
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    margin: auto;
    height: 500px;
    div{
        margin: 0 15px;
    }
    .to-stake{
        width:75%;
        border-radius: 8px;
        background: rgb(35,41,104);
        background: linear-gradient(0deg, rgba(35,41,104,0.3) 45%, rgba(61,69,165,1) 86%);
        h3{
            overflow: visible;
            margin: 30px 0;
            text-align: center;
            font-size: 32px;
            line-height: 36px;
            font-weight: 700;
            color: white;
        }
        li{
            // list-style: url(/arrowdouble.svg);
            margin: 25px 50px 25px 145px;
            text-align: left;
            font-family: sans-serif;
            list-style-type: none;
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            color: white;

        }
    }
    .staked-info{
        background: rgb(2,2,4);
        background: linear-gradient(145deg, rgba(2,2,4,1) 0%, rgba(37,32,76,1) 62%, rgba(52,46,108,1) 100%);
        width: 35%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        .staked, .unstaked, .rewards{
            margin: 15px 15px;
        }
        div{
            border: 1px solid white;
            border-radius: 15px;
            padding: 25px 0;
            overflow: hidden;
            max-height: 33%;
            p{
                padding-bottom: 5px;
                display: block;
                border-bottom: 1px solid #acacac;
                margin: 0px 20px;
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
                color: #c3c5cb;
            }
            span{
                display: flex;
                margin: 10px 0 0 18px;
                font-size: 24px;
                line-height: 28px;
                font-weight: 700;
                color: white;
            }
            
        }
        .rewards{
            .rewards-button{
                border: none;
                button{
                    cursor: pointer;
                    background: linear-gradient(to right, #8b67f9 0%,#0c0e27 51%,#000);
                    margin: 0 10px;
                    color: white;
                    border: 1px #8b67f9 solid; 
                    border-radius: 20px;
                    // width: 30%;
                    padding: 0.25rem 15%;
                    box-shadow: 1px 0 2px #ff1baf5d;
                }
            }
        }
    }
}
// .active-tabs::after{
//     button{

//         content: "";
//         display: flex;
//         color: white;
//         border-bottom:1px solid white;
//     }
// }
.unstake-container{
    display: none;
    width: 45%;
    height: 20vh;
    border-radius: 15px;
    margin: auto;
    // background: rgb(35,41,104);
    background: radial-gradient(farthest-side at 50% 45%, rgba(67, 76, 181, 0.8), rgba(67, 76, 181, 0));
    justify-content: center;
    .unstake-alert_container{
        display: flex;
        flex-direction: row;
        margin: 25px 100px;
        h5{
            font-family: Roboto, sans-serif;
            text-align: center;
            color: #ffff;
            font-size: 1.8rem;
            line-height: 2.6rem;
            padding: 5px;
            font-weight: 600;
        }
    }
}
.active-content{
    display: flex;
}

@media (max-width: 844px) {
    .staking-container{
        flex-direction: column;
        margin-top:250px;

        .to-stake{
            width: 95%;
            
            li{
                margin:0 !important;
                margin:15px !important;
            }
        }
        .staked-info{
            margin-top:50px;
            width: 95%;
        }
    }
}