.tier-card_main_container{
    width: 300px;
    height: 370px;
    border: 2px solid #9e9fa7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 25px 15px;
    img{
        position: relative;
        float: right;
        bottom: 35px;
    }
    .card-info_container{
        text-align: left;
        margin-left: 30px;
        h3{
            margin-bottom: 5px;
            font-size: 2.8rem;
        }
        h4{
            margin-bottom: 20px;
            font-size: 3.3rem;        
        }
        p{
            color: #acacac;
            margin-bottom: 45px;
            font-size: 1.7rem;
}
    }
}